<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<!--Navigation-->
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
		<a class="nav-brand">
			<img src="../assets/img/mifag-logo.svg" alt="Logo" style="height:50px;">
		</a>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="#section1">Обо мне</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#section2">Опыт работы</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#section3">Хобби</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#section3">Контакты</a>
			</li>
		</ul>
	</nav>
	<!--Info about me-->
	<section class="mifag-info">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2 col-6 offset-3">
					<h4 align="center">Голубев Михаил Васильевич</h4>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6 col-10 offset-1 offset-md-0">
					<div class="slider-mifag">
						<div>
							<img class="img-thumbnail" src="assets/images/mifag.jpg">
						</div>
						<div>
							<img class="img-thumbnail" src="assets/images/mifag-1.jpg">
						</div>
						<div>
							<img class="img-thumbnail" src="assets/images/mifag-2.jpg">
						</div>
						<div>
							<img class="img-thumbnail" src="assets/images/mifag-3.jpg">
						</div>
						<div>
							<img class="img-thumbnail" src="assets/images/mifag-4.jpg">
						</div>
					</div>
				</div>
				<div class="col-md-6 col-10 offset-1 offset-md-0">
					<h6><br>
						Всегда отличался повышенным интересом к вопросу "Как устроен этот мир?". На мой взгляд,
						важно не просто знание, а именно понимание процесса.<br>
						В настоящее время основная работа - ремонт и реставрация пианино и роялей.<br>
						Основной досуг - программирование.<br>Основное хобби - музыка.<br>Возраст - 27 лет.
						<br>Семейное положение - не женат.
					</h6>
					<div class="row">
						<button type="button" class="btn btn-menu col-11 mx-auto" data-toggle="collapse" data-target="#1">
							<dt>Цель</dt>
						</button>
						<div id="1" class="collapse col-md-8 offset-md-2 col-11 mx-auto">
							<dd>- Найти интересную работу с достойной оплатой и перспективой карьерного роста.</dd>
						</div>
					</div>
					<div class="row">
						<button type="button" class="btn btn-menu col-11 mx-auto" data-toggle="collapse" data-target="#2">
							<dt>Интересы</dt>
						</button>
						<div id="2" class="collapse col-md-8 offset-md-2 col-11 mx-auto">
							<dd>- работа, программирование, музыка, наука, автомобили.</dd>
						</div>
					</div>
					<div class="row">
						<button type="button" class="btn btn-menu col-11 mx-auto" data-toggle="collapse" data-target="#3">
							<dt>Ценности</dt>
						</button>
						<div id="3" class="collapse col-md-8 offset-md-2 col-11 mx-auto">
							<dd>- саморазвитие, навыки, знания, дружба.</dd>
						</div>
					</div>
					<div class="row">
						<button type="button" class="btn btn-menu col-11 mx-auto" data-toggle="collapse" data-target="#4">
							<dt>Качества</dt>
						</button>
						<div id="4" class="collapse col-md-8 offset-md-2 col-11 mx-auto">
							<dd>- ответственность, быстрая обучаемость, саморганизованость, структурное мышление.</dd>
						</div>
					</div>
					<div class="row">
						<button type="button" class="btn btn-menu col-11 mx-auto" data-toggle="collapse" data-target="#5">
							<dt>Образование</dt>
						</button>
						<div id="5" class="collapse col-md-8 offset-md-2 col-11 mx-auto">
							<dt>Основное:</dt>
							<dd>- Школа №22 с углубленным изучением французского языка.</dd>
							<dd>- Музыкальная школа (Скрипка, гитара, фортепиано.</dd>
							<dd>- Дзержинский музыкальный колледж (Эстрадные инструменты, барабаны).</dd>
							<dt>Курсы:</dt>
							<dd>- Центр подготовки кадров. Оператор станков с чпу, 3 разряд.</dd>
						</div>
					</div>
					<div class="row">
						<button type="button" class="btn btn-menu col-11 mx-auto" data-toggle="collapse" data-target="#6">
							<dt>Военная служба</dt>
						</button>
						<div id="6" class="collapse col-md-8 offset-md-2 col-11 mx-auto">
							<dd>- В/ч 83272, артиллерийские войска, мл. сержант.</dd>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--Info about my jobs-->
	<section class="mifag-jobs">
	</section>

	<!--Footer-->
	<footer class="footer">
		<button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
			Связаться со мной
		</button>
		<div class="dropdown-menu">
			<div class="row mx-auto">
				<div class="col-11 mx-auto">
					<a href="https://vk.com/mifag" target="_blank">
						<img class="link-icon" src="https://pngicon.ru/file/uploads/vkontakte-128x128.png"
								 alt="vk">
					</a>
					<a href="https://twitter.com/tw_mifag" target="_blank">
						<img class="link-icon"
								 src="https://pngicon.ru/file/uploads/1303506147_Twitter_512x512-128x128.png"
								 alt="twitter">
					</a>
					<a href="https://web.facebook.com/mifag" target="_blank">
						<img class="link-icon" src="https://pngicon.ru/file/uploads/FaceBook_512x512-128x128.png"
								 alt="facebook">
					</a>
				</div>
			</div>
			<div class="row mx-auto">
				<div class="col-11 mx-auto">
					<a href="https://www.instagram.com/mikha_ikhniy" target="_blank">
						<img class="link-icon" src="https://pngicon.ru/file/uploads/instagram-128x128.png"
								 alt="instagram">
					</a>
					<a href="https://join.skype.com/invite/e2JUpMEG0sAo" target="_blank">
						<img class="link-icon" src="https://pngicon.ru/file/uploads/skype_2-128x128.png"
								 alt="skype">
					</a>
					<a href="https://ok.ru/mifag" target="_blank">
						<img class="link-icon" src="https://pngicon.ru/file/uploads/odnoklassniki-128x128.png"
								 alt="ok">
					</a>
				</div>
			</div>
			<div class="dropdown-divider"></div>
			<div class="row mx-auto">
				<div class="col-7 mx-auto">
					<a href="tel:+79875390711">
						<img class="call-icon" src="https://pngicon.ru/file/uploads/red_phone-128x128.png">
					</a>
				</div>
			</div>
		</div>
	</footer>
</body>
