// ===Mixins===
@mixin font-pangolin {
    font-family: 'Pangolin', bold, cursive;
}

@mixin font-neucha{
    font-family: 'Neucha', cursive;
}

@mixin font-russo{
    font-family: 'Russo One', sans-serif;
}
// ===/ Mixins===

// ===Variables and selectors===
$transition: 200ms linear;
$transform: scale(1.02);

%one-border {
    border-bottom: 4px solid #0c9c35;
    padding-bottom: 4px;
}
// ===/ Variables and selectors===

// ===Fonts===
h5, h6, dt, th {
    @include font-pangolin;
    padding-top: 8px;
}

h2, h3, h4, dd, td {
    @include font-neucha;
}

a {
    color: #077d29;
    font-weight: bold;
    &:hover {
        color: #013b11;
    }
}
// ===/ Fonts===

// ===Width===
html, body {
    max-width:100%;
    overflow-x:hidden;
}
// ===/ Width===

//Navigation
.navbar {
    max-width:100%;
}

.img-logo {
    height: 46px;
    padding-bottom: 4px;
    transition: $transition;
    &:hover {
        transform: scale(1.1);
    }
}

// Info
.mifag-info {
    padding-top: 80px;
    padding-bottom: 40px;
    .col-info {
        @extend %one-border;
    }
    .row-info {
        padding-top: 20px;
    }
    .carousel {
        transition: $transition;
        &:hover {
            transform: $transform;
        }
    }
}

//Coding
.mifag-coding {
    padding-top: 40px;
    padding-bottom: 10px;
    .row-coding {
        padding-top: 20px;
    }
    .col-coding {
        @extend %one-border;
    }
    .img-coding {
        width: 280px;
        transition: $transition;
        &:hover {
            transform: $transform;
        }
    }
}

// Jobs
.mifag-jobs {
    padding-top: 80px;
    padding-bottom: 40px;
    .col-jobs {
        @extend %one-border;
    }
    .row-jobs {
        padding-top: 20px;
    }
    .card {
        transition: $transition;
        &:hover {
            transform: $transform;
        }
    }
    .card-title {
        font-weight: bold;
        letter-spacing: 0.1rem;
    }
    .card-text {
        @include font-russo;
        letter-spacing: 0.1rem;
    }
    .btn {
        @include font-russo;
        border-width: 2px;
        letter-spacing: 0.2rem;
        transition: $transition;
    }
    .btn-body:hover {
        transform: $transform;
    }
}

.navigator {
    background: #FFFFFF;
    .card-body {
        color: #000000;
    }
    .btn {
        border-color: #000000;
        color: #000000;
        &:hover {
            border-color: #4062cd;
            color: #4062cd;
        }
    }
}

.glinka {
    background: #FFFFFF;
    .card-body {
        color: #000000;
    }
    .btn {
        border-color: #000000;
        color: #000000;
        &:hover {
            border-color: #ba5d09;
            color: #ba5d09;
        }
    }
}

.mvg {
    background-color: #FFFFFF;
    .card-body{
        color: #000000;
    }
    .btn {
        border-color: #000000;
        font-weight: bold;
        color: #000000;
        &:hover {
            border-color: #bd5d05;
            color: #bd5d05;
        }
    }
}

.merger {
    background: url(../assets/img/jobs/grey-stucco.png);
    .card-body {
        color: #000000;
    }
    .btn {
        border-color: #000000;
        color: #000000;
        &:hover {
            border-color: #ba5d09;
            color: #ba5d09;
        }
    }
}

.clean-light {
    background-color: #000000;
    .card-body {
        color: #FFFFFF;
    }
    .btn {
        border-color: #FFFFFF;
        color: #FFFFFF;
        &:hover {
            border-color: #4062cd;
            color: #4062cd;
        }
    }
}

.moven {
    background-color: #1E90FF;
    .card-body{
            color: #FFFFFF;
    }
    .btn {
        border-color: #FFFFFF;
        color: #FFFFFF;
        &:hover {
            border-color: #000000;
            color: #000000;
        }
    }
}

.stance-studio {
    background-color: #800080;
    .card-body{
        color: #FFFFFF;
    }
    .btn {
        border-color: #FFFFFF;
        color: #FFFFFF;
        &:hover {
            border-color: #000000;
            color: #000000;
        }
    }
}

.himlux-comandir {
    background-color: #FFFFFF;
    .card-body{
        color: #000000;
    }
    .btn {
        border-color: #000000;
        color: #000000;
        &:hover {
            border-color: #d11818;
            color: #d11818;
        }
    }
}

.btn-store {
    border-color: #d8ddd8;
}

// Hobbies
.mifag-hobbies {
    padding-top: 80px;
    padding-bottom: 40px;
    .col-hobbies {
        @extend %one-border;
    }
    .row-hobbies {
        padding-top: 20px;
    }


    .row-video {
        padding-top: 40px;

        .youtube-icon {
            width: 8%;
        }
        .instagram-icon {
            width: 4%;
        }
    }

    //Music
    .row-music {
        padding-top: 20px;
        padding-bottom: 10px;
        .img-audio {
            width: 300px;
            margin-bottom: 10px;
            transition: $transition;
            &:hover {
                transform: $transform;
            }
        }
        .row-school {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .carousel-music {
            transition: $transition;
            &:hover {
                transform: $transform;
            }
        }
        .row-img-music {
            padding-bottom: 10px;
            .col-6 {
                padding-left: 5px;
                padding-right: 5px;

                .hover-image-6 {
                    position: relative;
                    overflow: hidden;
                    display: inline-block;
                    line-height: 0;
                    button {
                        vertical-align: middle;
                        padding: 0rem;
                    }
                    img + img,
                    img + i {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-top: -32px;
                        margin-left: -32px;
                        width: 64px;
                        height: 64px;
                        transition: transform 0.7s ease 0s;
                        transform: scale(0);
                        font-size: 64px;
                        color: #fff;
                        z-index: 1;
                    }
                    button:hover img + img,
                    button:hover img + i {
                        transform: scale(1);
                        opacity: 1;
                    }
                    button::before {
                        transition: all 0.5s ease;
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: #bfffd9;
                        transform: scale(0);
                        border-top-left-radius: 0.25rem;
                        border-top-right-radius: 0.25rem;
                        border-bottom-right-radius: 0.25rem;
                        border-bottom-left-radius: 0.25rem;
                    }
                    button:hover::before {
                        opacity: 0.5;
                        transform: scale(1);
                    }
                    button::after {
                        transition: all 0.6s ease 0.2s;
                        content: "";
                        position: absolute;
                        top: 1rem;
                        left: 1rem;
                        right: 1rem;
                        bottom: 1rem;
                        border: 1px solid #aaa;
                        background: #33b777;
                        opacity: 0;
                        transform: scale(0);
                    }
                    button:hover::after {
                        opacity: 0.35;
                        transform: scale(1);
                    }
                }
                .img-music {
                    transition: $transition;
                    &:hover {
                        transform: $transform;
                    }
                }
            }
        }
    }
}

// Footer
.footer {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #0c9c35;
    .link-icon{
        width: 40px;
        height: 40px;
        margin-left: 4px;
        margin-bottom: 4px;
        transition: $transition;
        &:hover {
            transform: scale(1.1);
        }
    }
    .link-icon-two {
        width: 40px;
        height: 40px;
        margin-left: 4px;
        transition: $transition;
        &:hover {
            transform: scale(1.1);
        }
    }
    .call-icon {
        width: 60px;
        height: 60px;
        margin: auto;
        display: block;
        transition: $transition;
        &:hover {
            transform: scale(1.1);
        }
    }
}
