// ===Mixins===
@mixin font-pangolin {
    font-family: 'Pangolin', bold, cursive;
}

@mixin font-neucha{
    font-family: 'Neucha', cursive;
}
// ===/ Mixins===

h5, h6, dt {
    @include font-pangolin;
    padding-top:8px;
}

h3, h4, dd {
    @include font-neucha;
}

//Navigation

.img-logo {
    height:46px;
    padding-bottom:4px;
}

// Info
.mifag-info {
    padding-top:80px;
    padding-bottom:40px;
}

// Jobs
.mifag-jobs {
    padding-top:80px;
    padding-bottom:40px;
}

.piano-sound {
    background-color: #FFFFFF;
}

.merger {
    background-color: #A0522D;
}

.clean-light {
    background-color: #000000;
}

.moven {
    background-color: #1E90FF;
}

.stance-studio {
    background-color: #800080;
}

.himlux-comandir {
    background-color: #FFFFFF;
}
// Hobbies
.mifag-hobbies {
    padding-top:80px;
    padding-bottom:40px;
}

// Footer
.footer {
    padding-top:40px;
    padding-bottom:10px;
}

.link-icon{
    width:32px;
    height:32px;
    margin-left:2px;
}

.call-icon {
    width:48px;
    height:48px;
}